.well-box{text-align:center;}
.main-bg{background-color: #e74c3c !important;color: #ffffff !important;border-color:#c0392b !important;}
.main-bg a{color: #ffffff !important;}
body{background-color:#f2f2f2;}
<!--e74c3c-->