<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Online Store</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ViewAllCategory</servlet-name>
    <servlet-class>category.ViewAllCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllCategory</servlet-name>
    <url-pattern>/ViewAllCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCat</servlet-name>
    <servlet-class>category.DeleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCat</servlet-name>
    <url-pattern>/Delete_Cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAllProducts</servlet-name>
    <servlet-class>product.ViewAllProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllProducts</servlet-name>
    <url-pattern>/ViewAllProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>product.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/delete_Pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit_Category</servlet-name>
    <servlet-class>category.Edit_Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Category</servlet-name>
    <url-pattern>/Edit_Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search_Category</servlet-name>
    <servlet-class>category.Search_Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Category</servlet-name>
    <url-pattern>/Search_Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProductByCategory</servlet-name>
    <servlet-class>product.ViewProductByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductByCategory</servlet-name>
    <url-pattern>/ViewProductByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProductById</servlet-name>
    <servlet-class>product.ViewProductById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductById</servlet-name>
    <url-pattern>/ViewProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search_Product</servlet-name>
    <servlet-class>product.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Product</servlet-name>
    <url-pattern>/Search_Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View_Slider</servlet-name>
    <servlet-class>slider.View_Slider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Slider</servlet-name>
    <url-pattern>/view_slides</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View_Brands</servlet-name>
    <servlet-class>brand.View_Brand_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Brands</servlet-name>
    <url-pattern>/view_brands</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBrand</servlet-name>
    <servlet-class>brand.Delete_Brand_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBrand</servlet-name>
    <url-pattern>/Delete_Brand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewBrandByCategory</servlet-name>
    <servlet-class>brand.ViewBrandByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBrandByCategory</servlet-name>
    <url-pattern>/ViewBrandByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewProductByBrand</servlet-name>
    <servlet-class>product.ViewProductByBrand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductByBrand</servlet-name>
    <url-pattern>/ViewProductByBrand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <jsp-file>/index1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewItem</servlet-name>
    <jsp-file>/view_item.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewItem</servlet-name>
    <url-pattern>/CustomURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <jsp-file>/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/CartDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MobileStore</servlet-name>
    <jsp-file>/mobile_store.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileStore</servlet-name>
    <url-pattern>/MobileStore</url-pattern>
  </servlet-mapping>
  <servlet>
 	<servlet-name>ViewAllOrders</servlet-name>
 	<servlet-class>orders.ViewAllOrders</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewAllOrders</servlet-name>
  	<url-pattern>/ViewAllOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View_Products</servlet-name>
    <jsp-file>/View_Products.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Products</servlet-name>
    <url-pattern>/View_Products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <jsp-file>/CheckOut.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
</web-app>